---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";
import MapWrapper from "../components/MapWrapper";
---

<Layout title="Welcome.">
  <main>
    <div class="map">
      <MapWrapper client:only="preact" />
    </div>
    <ul role="list" class="card-grid">
      <Card eta={1} />
      <Card eta={2} />
      <Card eta={3} />
      <Card eta={3} />
      <Card eta={3} />
      <Card eta={5} />
      <Card eta={15} />
      <Card eta={15} />
      <Card eta={20} />
    </ul>
  </main>
</Layout>

<style>
  .map {
    height: 60vh;
    width: 100vw;
  }
  .card-grid {
    height: 40vh;
    overflow: scroll;
    padding: 0.25em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75em;
  }
</style>
