.wrapper {
  display: flex;
  width: 100%;
  gap: 0.25em;
}
.contents {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  width: 100%;
}
.linePlaceHolder {
  width: 100%;
  height: 1em;
  background: lightgray;
}
.etaCircle {
  background-color: #ccc;
  border-radius: 50%;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.etaText {
  height: auto;
  font-size: calc(var(--avatar-size) / 3); /* 33% of parent */
  line-height: 1;
}
